body {
    margin: 30px 30px;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(45, 50, 52);
}

.container {
    width: 900px;
    margin: 0 auto;
}

.post-title-input {
    display: block;
    width: 300px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: rgb(144, 168, 130);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-size: medium;
}

.post-text-input {
    display: block;
    box-sizing: border-box;
}

.charCountTitle,
.charCountText {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    opacity: 50%;
}

textarea {
    display: block;
    resize: 1;
    width: 300px;
    height: 150px;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 10px;
}

.new-post-btn,
.delete-post-btn {
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(147, 177, 130);
    border: none;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
}

.delete-post-btn {
    background-color: rgb(115, 135, 104);
    ;
}

.new-post-btn:hover {
    background-color: rgb(198, 216, 189);
    color: rgb(48, 71, 49);
}


.delete-post-btn:hover {
    background-color: rgb(128, 141, 121);
    color: rgb(48, 71, 49);
}

.row {
    display: flex;
    gap: 40px;
}

.posts {
    width: 500px;
}

.col-output {
    flex: 1;
    background-color: rgb(222, 237, 233);
    word-wrap: break-word;
    border-radius: 10px;
    padding: 0px 30px;

}

.characterLimit {
    color: brown;
}

.characterLimit__hidden {
    display: none;
}

@media (max-width:767px) {
    .container {
        width: 100%;
    }

    .row {
        flex-wrap: wrap-reverse;
    }

    .post-title-input {
        width: 100%;
    }

    .new-post-btn,
    .delete-post-btn {
        width: 100%;
    }

    .posts {
        width: 100%;
    }

    .col-output {
        flex: none;
        width: 100%;
        padding: 0px 10px;
    }

    .col-input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

}